<div id="content">
  <sa-widgets-grid>
    <div class="row">
      <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

        <div sa-widget [editbutton]="false" [colorbutton]="false" [sortable]="false" [deletebutton]="false" color="blueDark">

          <header>
            <h2>회사명</h2>
          </header>

          <div>
            <div class="widget-body">

              <div class="row table-area">
                <article class="col-sm-12 col-md-12">
                  <ngx-datatable
                          #table
                          class="table-striped"
                          [rows]="rows"
                          [loadingIndicator]="loadingIndicator"
                          [columnMode]="'force'"
                          [headerHeight]="40"
                          [footerHeight]="45"
                          [rowHeight]="'auto'"
                          [externalPaging]="true"
                          [count]="count"
                          [offset]="offset"
                          [limit]="controls.pageSize"
                          (page)="onPage($event)"
                          [selectionType]="'cell'"
                          (select)="onSelect($event)"
                          [selected]="selected"

                          [cssClasses]= "{
                            sortAscending: 'fa fa-caret-up',
                            sortDescending: 'fa fa-caret-down',
                            pagerLeftArrow: 'fa  fa-angle-left',
                            pagerRightArrow: 'fa fa-angle-right',
                            pagerPrevious: 'fa fa-angle-double-left',
                            pagerNext: 'fa fa-angle-double-right'
                          }"
                          [reorderable]="reorderable">

                    <ngx-datatable-column [sortable]="false"  name="선택" [maxWidth]="50" cellClass="text-align-center">
                      <ng-template ngx-datatable-cell-template let-value="value" let-row="row" let-isSelected="isSelected">
                        <input type="checkbox"name="cpNo" [checked]="isSelected"/>
                      </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="회사명" prop="cpName" ></ngx-datatable-column>
                    <ngx-datatable-column name="로고" prop="cpImgUrl" >
                      <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                        <ng-container *ngIf="value != null && value != ''; then exist else noExist"></ng-container>
                        <ng-template #exist>
                          <a class="btn btn-default" (click)="openImgModal(row.cpImgUrl)" ><i class="fa fa-image"></i> 이미지 </a>
                        </ng-template>
                        <ng-template #noExist>
                          없음
                        </ng-template>
                      </ng-template>
                    </ngx-datatable-column>
                  </ngx-datatable>
                </article>
              </div>
            </div>
          </div>
        </div>
      </article>
    </div>

    <div class="row" *ngIf="updBtnStatus">
      <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div sa-widget [editbutton]="false" [colorbutton]="false" [sortable]="false" [deletebutton]="false" color="blueDark">

          <header>
            <h2>회사명 수정</h2>
          </header>

          <div class="widget-body">
            <form class="form-horizontal" novalidate="novalidate" #updateForm="ngForm" (ngSubmit)="updFormSubmit(updateForm)">

              <fieldset>
                <div class="form-group">
                  <label class="control-label col-md-2"><strong> 회사명 : </strong></label>
                  <div class="col-md-4">
                    <input class="form-control" type="text" placeholder="" autocomplete="off" name="cpName"
                           #cpName="ngModel" [(ngModel)]="model.cpName" required >
                    <div *ngIf="cpName.invalid && (cpName.dirty || cpName.touched)">
                      <div *ngIf="cpName.errors.required" class="form-error">
                        회사명을 입력해주세요.
                      </div>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <label class="control-label col-md-2"><strong> 등록 이미지 : </strong></label>
                  <div class="col-md-2">
                    <img [src]="imgUrl" class="formImgSize" style="width: 100px; height: auto;">
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-md-2"><strong> 변경 이미지 (선택) : </strong></label>
                  <div class="col-md-2">
                    <input type="file" class="btn btn-default" name="update_sliderImg" (change)="fileUpload($event)" [(ngModel)]="model.img">
                  </div>
                </div>

              </fieldset>

              <div class="form-actions">
                <div class="row">
                  <div class="col-md-12">
                    <button class="btn btn-danger" type="button" (click)="cancelUpdForm()">취소</button>
                    <button class="btn btn-info" type="submit" [disabled]="updateForm.invalid">수정</button>
                  </div>
                </div>
              </div>

            </form>
          </div>
        </div>
      </article>
    </div>

  </sa-widgets-grid>
</div>

<ng-template #imgModal>
  <div class="modal-body" style="text-align: center;">
    <h1><i class="fa fa-smile-o text-muted"></i>&nbsp;&nbsp; 이미지 </h1>
    <hr class="simple">
    <img src="{{imgUrl}}" style="max-width: 100px; height: auto;" class="text-align-center">
  </div>
</ng-template>
