<div id="content">
  <div class="row">
    <article class=" col-xs-offset-2 col-xs-8 col-sm-offset-2 col-sm-8 col-md-8 col-lg-8">
      <div sa-widget>
        <header>
          <h2>비밀번호 변경</h2>
        </header>
        <div>
          <div class="widget-body">
            <form id="togglingForm" novalidate="novalidate" [saBootstrapValidator]="validatorOptions" class="form-horizontal" (ngSubmit)="changePassword()">

              <fieldset>
                <legend>
                  * 비밀번호는 4~18자의 영문 대 소문자, 숫자, 특수문자를 사용하세요.
                </legend>

                <div class="form-group">
                  <div class="col-lg-offset-1 col-lg-10">
                    <div class="input-group">
                      <input type="text" class="form-control" name="loginId" placeholder="ID" disabled [(ngModel)]="model.id"/>
                      <span class="input-group-addon"><i class="fa fa-user"></i></span>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-lg-offset-1 col-lg-10">
                    <div class="input-group">
                      <input type="password" class="form-control" name="password" placeholder="현재 비밀번호" [(ngModel)]="pwdModel.password"/>
                      <span class="input-group-addon"><i class="icon-append fa fa-lock"></i></span>
                    </div>
                  </div>
                </div>

                <hr>
              </fieldset>

              <fieldset>
                <div class="form-group">
                  <div class="col-lg-offset-1 col-lg-10">
                    <div class="input-group">
                      <input type="password" class="form-control" name="newPassword" placeholder="새로운 비밀번호" [(ngModel)]="pwdModel.newPassword"/>
                      <span class="input-group-addon"><i class="icon-append fa fa-lock"></i></span>
                    </div>
                  </div>
                </div>
              </fieldset>

              <div class="form-group">
                <div class="col-lg-offset-1 col-lg-10">
                  <div class="input-group">
                    <input type="password" class="form-control" name="newPasswordConfirm" placeholder="새로운 비밀번호 확인"
                           [(ngModel)]="pwdModel.newPasswordConfirm"/>
                    <span class="input-group-addon"><i class="icon-append fa fa-lock"></i></span>
                  </div>
                </div>
              </div>

              <div class="form-actions">
                <div class="row">
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <button type="button" class="btn btn-default" onclick="window.history.back();">
                      취소
                    </button>
                    <button type="submit" class="btn btn-primary">
                      확인
                    </button>
                  </div>
                </div>
              </div>

            </form>

          </div>
        </div>
      </div>
    </article>
  </div>
</div>
